  body {
    background-color: rgba(156, 192, 244, 0.701);
    font-family: 'Open Sans', sans-serif;
    color: rgba(75, 75, 75, 0.775);
    font-size: 1rem;
    line-height: 10px
  }

  h1 {
    font-family: 'Montserrat';
    color: rgba(0, 0, 0, 0.775);
    font-size: 2rem;
    line-height: 10px
  }

  p {
    font-family: 'Montserrat';
    color: rgba(0, 0, 0, 0.775);
    font-size: 1.2rem;
    line-height: 20px
  }

  .container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  .btn-blue {
    background-color: rgba(6, 98, 196, 0.59);
    padding: 10px;
    margin:   10px;
    line-height: 5px;
  }
  .btn-blue:hover {
    background-color: rgba(6, 19, 196, 0.59);
  }
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.722)
    }

  }
  .card {
    border-radius: 4px;
    background-color: rgba(240, 248, 255, 0.436);
    box-shadow: 2px 2px 5px gray;
    padding: 5px;
    margin: 10px;
    line-height: 20px;
  }
  .links {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: white
  }
  a:hover{
    text-decoration: none;
    color: white
  }


  .card > img {
    width: 200px;
    border-radius: 50%;
  }


@media (max-width: 720px) {

  body {
    background-color: rgba(156, 192, 244, 0.701);
    font-family: 'Open Sans', sans-serif;
    color: rgba(75, 75, 75, 0.775);
    font-size: 1rem;
    line-height: 10px
  }

  h1 {
    font-family: 'Montserrat';
    color: rgba(0, 0, 0, 0.775);
    font-size: 2rem;
    line-height: 10px
  }

  p {
    font-family: 'Montserrat';
    color: rgba(0, 0, 0, 0.775);
    font-size: 1.2rem;
    line-height: 20px
  }

  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .btn-blue {
    background-color: rgba(6, 98, 196, 0.59);
    padding: 10px;
    margin:   10px;
    line-height: 5px;
  }
  .btn-blue:hover {
    background-color: rgba(6, 19, 196, 0.59);
  }
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.722)
    }

  }
  .card {
    border-radius: 4px;
    background-color: rgba(240, 248, 255, 0.436);
    box-shadow: 2px 2px 5px gray;
    padding: 5px;
    margin: 10px;
    line-height: 20px;
  }
  .links {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: white
  }
  a:hover{
    text-decoration: none;
    color: white
  }


  .card > img {
    width: 200px;
    border-radius: 50%;
  }
}

@media (max-width: 540px) {

  body {
    background-color: rgba(156, 192, 244, 0.701);
    font-family: 'Open Sans', sans-serif;
    color: rgba(75, 75, 75, 0.775);
    font-size: 1rem;
    line-height: 10px
  }

  h1 {
    font-family: 'Montserrat';
    color: rgba(0, 0, 0, 0.775);
    font-size: 2rem;
    line-height: 10px
  }

  p {
    font-family: 'Montserrat';
    color: rgba(0, 0, 0, 0.775);
    font-size: 1.2rem;
    line-height: 20px
  }

  .container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .btn-blue {
    background-color: rgba(6, 98, 196, 0.59);
    padding: 10px;
    margin:   10px;
    line-height: 5px;
  }
  .btn-blue:hover {
    background-color: rgba(6, 19, 196, 0.59);
  }
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.722)
    }

  }
  .card {
    border-radius: 4px;
    background-color: rgba(240, 248, 255, 0.436);
    box-shadow: 2px 2px 5px gray;
    padding: 5px;
    margin: 10px;
    line-height: 20px;
  }
  .links {
    text-align: center;
  }

  a {
    text-decoration: none;
    color: white
  }
  a:hover{
    text-decoration: none;
    color: white
  }


  .card > img {
    width: 200px;
    border-radius: 50%;
  }
}
